<nav class="navbar" id="navbar">
    <div class="nav">
        <div class="leftItems">
            <span><i class="fa-solid fa-snowflake"></i>WeatherKing<i class="fa-solid fa-snowflake"></i></span>

        </div>
        <div class="rightItems">
            <ul class="navItems">
                <li><a href="/">Home</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>